@font-face {
  font-family: 'mtswide-regular';
  src: url('../fonts/mtswide-regular.woff2') format('woff2'), url('../fonts/mtswide-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mtswide-medium';
  src: url('../fonts/mtswide-medium.woff2') format('woff2'), url('../fonts/mtswide-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mtswide-bold';
  src: url('../fonts/mtswide-bold.woff2') format('woff2'), url('../fonts/mtswide-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mtswide-black';
  src: url('../fonts/mtswide-black.woff2') format('woff2'), url('../fonts/mtswide-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
