:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--500);
  font-weight: 500;
  line-height: 1.2;
  overflow-x: hidden;
  overflow-y: auto;
}

// html,
// body {
//   overscroll-behavior: none;
// }

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.loaded .main {
  opacity: 1;
}

.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px 10px 40px 10px;
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--900);
  font-weight: 900;
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  transition: 0.3s;
  &:disabled {
    cursor: auto;
    pointer-events: none;
  }
}

ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.animate {
  transition: transform 0.8s;
  transform: translate(0px, 50px);
}

.loaded {
  .animate {
    transform: translate(0px, 0px);
  }
}
