.section--hero {
  background: var(--red) url('../img/main_bg.webp') no-repeat center top;
  background-size: 600px auto;
  justify-content: flex-start;
  padding-top: 448px;

  .title {
    text-align: center;
    max-width: 248px;
    margin-bottom: 32px;
  }

  .button {
    min-width: 180px;
    min-height: 66px;
    font-size: 18px;
    font-family: var(--900);
  }
}
