.section--hero {
  background: var(--red) url('../img/main_bg.webp') no-repeat center top;
  background-size: 550px auto;
  justify-content: flex-start;
  padding-top: 418px;

  .title {
    text-align: center;
    max-width: 248px;
    margin-bottom: 32px;
  }

  .button {
    min-width: 180px;
    min-height: 66px;
    font-size: 18px;
    font-family: var(--900);
  }

  @media (max-width: 374px) {
    background-size: 500px auto;
    padding-top: 400px;
  }
}
